{% extends 'base.html' %}
{% load static %}


{% block container %}
<style>
    .popup {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        overflow: auto;
    }
    
    .popup-content {
        background-color: #fff;
        margin: 350px auto;
        padding: 30px;
        width: 30%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius : 7px;
    }
</style>

{% if error %}
<div id="popupContainer" class="popup">
    <div class="popup-content d-flex flex-column justify-content-center align-items-center gap-4 fw-bold">
        
        <p class="text-center">{{error}}</p>
        <button class="main-btn " id="closeButton" >Close</button>
    </div>
</div>
{% endif %}
<div class = "text-center mt-3"> <h1> <span style = "font-weight : 700">  Rohde & Schwarz </span> HMP4040</h1></div>
<div class =  "text-center mt-3 text-muted"> <h4> IP Address : {{ip}}</h4></div>
<form method = "POST">
    {% csrf_token %}
    <div class =  "text-center mt-5 "> <h4 style = "font-weight : 600 !important"> Kanäle</h4></div>
    <div class="row mt-4 align-items-center  justify-content-center">       
        <div class="col-2">
            <input type="checkbox" id="data_speichern" name = 'data_speichern' >

            <label class = "checkbox-label"for="data_speichern">Data Speichern</label>
        </div> 
        <div class="col-2">
            {% if out %}
            
            <input type="checkbox" id="out" name = 'out_status' checked>
            
            {% else %}
            <input type="checkbox" id="out" name = 'out_status' >
            {% endif %}  
            <label class = "checkbox-label"for="out">OUTPUT</label>
        </div>
    </div>

    <div class="row mt-5 align-items-center  justify-content-center gap-5">       
        <div class="col-2 d-felx flex-column channel-card gap-3 text-center">

            {% if channels_status.0.1 %}
            <input type="checkbox" id="ch1" name = 'ch1_status' checked>
            {% else %}
            <input type="checkbox" id="ch1" name = 'ch1_status' >
            {% endif %}
            
            <label class = "checkbox-label" style = "font-weight : 600; font-size : 1.5rem" for="ch1">Kanal 1</label>
            <p id = "v_ch1"> 32.000 <span style = "font-weight : 500; margin-left:10px">V</span></p>
            <p id = "I_ch1">  10.000 <span style = "font-weight : 500; margin-left:10px">A</span></p>
            <p id = "P_ch1"> 320.000 <span style = "font-weight : 500; margin-left:10px">W</span></p>
            <input type="text" id="sollwert_1" style = "width:90%" placeholder = "Sollwert eingeben">
            <input type="checkbox" id="auto_korrektur1"  >
            <label class = "checkbox-label mt-2"for="auto_korrektur1" class = "mt-3"> Auto Korrektur</label>
        </div>
        <div class="col-2 d-felx flex-column channel-card gap-3 text-center">
            {% if channels_status.1.1 %}
            <input type="checkbox" id="ch2" name = 'ch2_status' checked>
            
            {% else %}
            <input type="checkbox" id="ch2" name = 'ch2_status' >
            {% endif %}
            
            <label class = "checkbox-label" style = "font-weight : 600; font-size : 1.5rem" for="ch2">Kanal 2</label>
            <p id = "v_ch2">  32.000 <span style = "font-weight : 500; margin-left:10px">V</span></p>
            <p id = "I_ch2">  10.000 <span style = "font-weight : 500; margin-left:10px">A</span></p>
            <p id = "P_ch2">  320.000 <span style = "font-weight : 500; margin-left:10px">W</span></p>
            <input type="text" id="sollwert_2" style = "width:90%" placeholder = "Sollwert eingeben">
            <input type="checkbox" id="auto_korrektur2"  >
            <label class = "checkbox-label mt-2"for="auto_korrektur2" class = "mt-3"> Auto Korrektur</label>
        </div>
        <div class="col-2 d-felx flex-column channel-card gap-3 text-center">
            {% if channels_status.2.1 %}
            <input type="checkbox" id="ch3" name = 'ch3_status' checked>
            {% else %}
            <input type="checkbox" id="ch3" name = 'ch3_status' >
            {% endif %}
            
            <label class = "checkbox-label" style = "font-weight : 600; font-size : 1.5rem" for="ch3">Kanal 3</label>
                        <p id = "v_ch3" > 32.000 <span style = "font-weight : 500; margin-left:10px">V</span></p>
            <p id = "I_ch3"> 10.000 <span style = "font-weight : 500; margin-left:10px">A</span></p>
            <p id = "P_ch3"> 320.000 <span style = "font-weight : 500; margin-left:10px">W</span></p>
            <input type="text" id="sollwert_3" style = "width:90%" placeholder = "Sollwert eingeben">
            <input type="checkbox" id="auto_korrektur3" >
            <label class = "checkbox-label mt-2"for="auto_korrektur3" class = "mt-3"> Auto Korrektur</label>
        </div>
        <div class="col-2 d-felx flex-column channel-card gap-3 text-center">
            {% if channels_status.3.1 %}
            <input type="checkbox" id="ch4" name = 'ch4_status' checked>
            {% else %}
            <input type="checkbox" id="ch4" name = 'ch4_status' >
            {% endif %}
            
            <label class = "checkbox-label" style = "font-weight : 600; font-size : 1.5rem" for="ch4">Kanal 4</label>
            <p id = "v_ch4"> 32.000 <span style = "font-weight : 500; margin-left:10px">V</span></p>
            <p id = "I_ch4"> 10.000 <span style = "font-weight : 500; margin-left:10px">A</span></p>
            <p id = "P_ch4"> 320.000 <span style = "font-weight : 500; margin-left:10px">W</span></p>
            <input type="text" id="sollwert_4" style = "width:90%" placeholder = "Sollwert eingeben">
            <input type="checkbox" id="auto_korrektur4"  >
            <label class = "checkbox-label mt-2"for="auto_korrektur4" class = "mt-3"> Auto Korrektur</label>
        </div>
        
    </div>
    <div class = "d-flex gap-3 mt-5 justify-content-center">
        <label class="custom-radio">
            <input type="radio" name="custom-radio-group" value = "V">
            <div class="radio-button text-center">
                <h1 style = "font-weight:700 ;width : 100%">U</h1>
                <p>Spannung</p>
            </div>
             
          </label>
          
          <label class="custom-radio">
            <input type="radio" name="custom-radio-group" value = "A">
            <div class="radio-button text-center"> 
                <h1 style = "font-weight:700 ;width : 100%">I</h1>
                <p>Strom</p></div>
          </label>
          <label class="custom-radio">
            <input type="radio" name="custom-radio-group" value = "W">
            <div class="radio-button text-center"> 
                <h1 style = "font-weight:700 ;width : 100%">P</h1>
                <p>Leistung</p></div>
          </label>
          <div class = "justify-content-center d-flex flex-column">
            <input type="checkbox" id="s_ch1" name = 'sel_ch1' >
            <label class = "checkbox-label"for="s_ch1">Kanal 1</label>
            <input type="checkbox" id="s_ch2" name = 'sel_ch2' >
            <label class = "checkbox-label"for="s_ch2">Kanal 2</label>
            <input type="checkbox" id="s_ch3" name = 'sel_ch3' >
            <label class = "checkbox-label"for="s_ch3">Kanal 3</label>
            <input type="checkbox" id="s_ch4" name = 'sel_ch4' >
            <label class = "checkbox-label"for="s_ch4">Kanal 4</label>
            
          </div>
          <label class="custom-radio" style = "margin-left :20px">
            <input type="text" name="value" placeholder = "Wert eingeben">
          </label>
    </div>
    <div class = "d-flex gap-3 mt-5 justify-content-center">
        <div class = "sec-btn d-flex justify-content-center align-items-center  " id = "checkButton" >zurücksetzen </div>
        <button class = "main-btn " type = "submit"> senden</button>
    </div >
</form>
<script>
    var data_speichern = document.getElementById("data_speichern");

    // Uncheck the checkbox
    data_speichern.checked = false;


    
    function createDataRequest(ip) {
        // Prepare the data to be sent in the POST request
       
        var data = {
          ip: ip
        };
      
        // Perform the POST request using the Fetch API or another library of your choice
        fetch("/api/create_data/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        })
      }
    function sendDataRequest(ip, Data) {
        // Prepare the data to be sent in the POST request
        console.log("ch : "+ch  )
        console.log("sollwert : "+sollwert  )
        var data = {
          ip: ip,
          Data: Data
        };
      
        // Perform the POST request using the Fetch API or another library of your choice
        fetch("/api/save_data/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        })
      }
      data_speichern.addEventListener("change", function () {
        var ip = "10.10.0.5";
        
        if (this.checked) {
          // Checkbox is checked, start the interval
          createDataRequest(ip)
          this.intervalId = setInterval(function () {
            for (let i = 1; i<5 ; i++){
                
            }
            sendPostRequest(ip, 1, value1);
          }, 10000); // 10 seconds
        } else {
          // Checkbox is unchecked, stop the interval
          clearInterval(this.intervalId);
        }
      });

      var popupContainer = document.getElementById("popupContainer");
    var closeButton = document.getElementById("closeButton");
    if (closeButton != null){
        closeButton.addEventListener("click", function () {
            popupContainer.style.display = "none";
        });
        for (let i = 1; i<5;i++){
            // Get a reference to the input element
            document.getElementById("sollwert_" + i).value = "";    
            document.getElementById("auto_korrektur" + i).disabled = true;
            document.getElementById("auto_korrektur" + i).checked = false;
        }
        for (let i = 1; i<5;i++){
                // Get a reference to the input element
            var sollwert = document.getElementById("sollwert_" + i);
            
            // Add an event listener for the "input" event
            sollwert.addEventListener("input", function(event) {
            // This function will be called when the text input changes
            var inputValue = event.target.value;
            if (!(inputValue === "")){
                document.getElementById("auto_korrektur" + i).disabled = false;
                console.log("Checkbox" + i + " enabled");
            }
            else{
                document.getElementById("auto_korrektur" + i).disabled = true;
                console.log("Checkbox" + i + " disabled");
    
            }
            
            // Do something with the changed value
            
            });
        
        }
    }
    
    var checkboxIds = ["auto_korrektur1", "auto_korrektur2", "auto_korrektur3", "auto_korrektur4"];

    // Function to send the POST request
    function sendPostRequest(ip, ch, sollwert) {
      // Prepare the data to be sent in the POST request
      console.log("ch : "+ch  )
      console.log("sollwert : "+sollwert  )
      var data = {
        ip: ip,
        ch: ch,
        sollwert: sollwert
      };
    
      // Perform the POST request using the Fetch API or another library of your choice
      fetch("/api/hmp4040_auto_corrector/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      })
      .then(response => {
        if (response.ok) {
            document.getElementById("sollwert_" + ch).style.borderColor = "black"
          console.log("POST request successful");
        } else {
            document.getElementById("sollwert_" + ch).style.borderColor = "red"
          console.error("POST request failed");
        }
      })
      .catch(error => {
        console.error("Error:", error);
      });
    }
    
    // Loop through the checkbox IDs and add event listeners
    var checkbox1 = document.getElementById(checkboxIds[0]);
    var value1 = document.getElementById("sollwert_1").value
      checkbox1.addEventListener("change", function () {
        var ip = "10.10.0.5";
        
        if (this.checked) {
          // Checkbox is checked, start the interval
          console.log("checkbox " + 1 + " is checked")
          this.intervalId = setInterval(function () {
            sendPostRequest(ip, 1, value1);
          }, 10000); // 10 seconds
        } else {
          // Checkbox is unchecked, stop the interval
          clearInterval(this.intervalId);
        }
      });

    var checkbox2 = document.getElementById(checkboxIds[1]);
     
      checkbox2.addEventListener("change", function () {
        var ip = "10.10.0.5";
        
        if (this.checked) {
          // Checkbox is checked, start the interval
          console.log("checkbox " + 2 + " is checked")
          this.intervalId = setInterval(function () {
            sendPostRequest(ip, 2, document.getElementById("sollwert_2").value);
          }, 10000); // 20 seconds
        } else {
          // Checkbox is unchecked, stop the interval
          clearInterval(this.intervalId);
        }
      });

      var checkbox3 = document.getElementById(checkboxIds[2]);
     
      checkbox3.addEventListener("change", function () {
        var ip = "10.10.0.5";
        
        if (this.checked) {
          // Checkbox is checked, start the interval
          console.log("checkbox " + 3 + " is checked")
          this.intervalId = setInterval(function () {
            sendPostRequest(ip, 3, document.getElementById("sollwert_3").value);
          }, 10000); // 20 seconds
        } else {
          // Checkbox is unchecked, stop the interval
          clearInterval(this.intervalId);
        }
      });
      var checkbox4 = document.getElementById(checkboxIds[3]);
     
      checkbox3.addEventListener("change", function () {
        var ip = "10.10.0.5";
        
        if (this.checked) {
          // Checkbox is checked, start the interval
          console.log("checkbox " + 4 + " is checked")
          this.intervalId = setInterval(function () {
            sendPostRequest(ip, 4, document.getElementById("sollwert_4").value);
          }, 10000); // 20 seconds
        } else {
          // Checkbox is unchecked, stop the interval
          clearInterval(this.intervalId);
        }
      });


      function active_channel_req(ip, ch) {
        // Prepare the data to be sent in the POST request
        
        var data = {
          ip: ip,
          ch: ch,
        };
      
        // Perform the POST request using the Fetch API or another library of your choice
        fetch("/api/channel_aktivieren/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        })
        .then(response => {
        })
        .catch(error => {
          console.error("Error:", error);
        });
      }
      function deactive_channel_req(ip, ch) {
        // Prepare the data to be sent in the POST request
        
        var data = {
          ip: ip,
          ch: ch,
        };
      
        // Perform the POST request using the Fetch API or another library of your choice
        fetch("/api/channel_deaktivieren/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        })
        .then(response => {
        })
        .catch(error => {
          console.error("Error:", error);
        });
      }


      for (let i = 1; i<5;i++){     
        document.getElementById('ch'+i).addEventListener("change", function () {
        var ip = "10.10.0.5";
        console.log("clicked")
        if (this.checked) {
          // Checkbox is checked, start the interval
          active_channel_req(ip, i); // 20 seconds
        } else {
          // Checkbox is unchecked, stop the interval
          deactive_channel_req(ip,i);
        }
      });
      }
      function enable_out_req(ip, ch) {
        // Prepare the data to be sent in the POST request
        
        var data = {
          ip: ip,
          ch: ch,
        };
      
        // Perform the POST request using the Fetch API or another library of your choice
        fetch("/api/out_aktivieren/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        })
        .then(response => {
        })
        .catch(error => {
          console.error("Error:", error);
        });
      }
      function disable_out_req(ip, ch) {
        // Prepare the data to be sent in the POST request
        
        var data = {
          ip: ip,
          ch: ch,
        };
      
        // Perform the POST request using the Fetch API or another library of your choice
        fetch("/api/out_deaktivieren/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        })
        .then(response => {
        })
        .catch(error => {
          console.error("Error:", error);
        });
      }

      document.getElementById("out").addEventListener("change", function () {
        var ip = "10.10.0.5";
        console.log("clicked")
        if (this.checked) {
          // Checkbox is checked, start the interval
          enable_out_req(ip); // 20 seconds
        } else {
          // Checkbox is unchecked, stop the interval
          disable_out_req(ip);
        }
      });

</script>
{% endblock container %}